<div>
  <div style="width:15%;float:left">
    <div id="sidebar">
      <div class="toggle-btn">
<span></span>
<span></span>
<span></span>
      </div>
<ul>
  <li></li>

  <li>Personal Info</li>
  <li><a (click)="redirect()">Professional Info</a></li>
</ul>
    </div>
  </div>
   <div style="width:85%;float:right">
    <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <form class="box" action="">
    <h1>PERSONAL INFO</h1>
    <label >Firstname</label>
    <input type="text" name="" placeholder="Firstname">
    <label >Lastname</label>
    <input type="text" name="" placeholder="Lastname">
    <button mat-raised-button color="accent">Save</button>
    <button mat-raised-button color="warn">Cancel</button>
  </form>
</body>
</html>
   </div>
 </div>









