<div>
  <p>
    Add Your Socail Media Profile
   </p>
   <div class="customcls">
   <a>
    <img class="float_left" [src]="facebook">Facebook
   </a>
   </div>
   <div>
     <img class="float_left" [src]="twitter" alt=""><span>Twitter</span>
   </div>
   <div>
     <img class="float_left" [src]="instagram" alt=""><span>Instagram</span>
   </div>
   <div>
     <img class="float_left" [src]="linkdin" alt=""><span>linkdin</span>
   </div>
   <div>
     <img class="float_left" [src]="youtube" alt=""><span>Youtube</span>
   </div>
</div>  