<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <ul>
        <img  class="images" src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/5524690/2018/4/26/11524732267207-hangup-grey-mens-blazer-size36-9821524732267048-1.jpg"
          alt="Soufiane FADIL">
      </ul>
      <span>Locobuzz</span>
      <div style="margin-left: 206px;">
        <h6 style="font-size: 12px;">Duration</h6>
        <h4 style="margin-top: -14px">Today</h4>
      </div>
      <div style="margin-left: 50px;">
        <button mat-icon-button>
          <mat-icon>expand_more</mat-icon>
        </button>
      </div>
      <div>
        <ul>
          <img class="imge"
            src="https://assets.myntassets.com/h_1440,q_100,w_1080/v1/assets/images/5524690/2018/4/26/11524732267207-hangup-grey-mens-blazer-size36-9821524732267048-1.jpg"
            alt="Soufiane FADIL">
        </ul>
      </div>
      <div>
        <h4>Jemmy Lee</h4>
        <h6 style="font-size: 12px; margin-top: -14px">Team Leader</h6>
      </div>
      <div>
        <ul>
          <button mat-icon-button class="header-icon">
            <mat-icon>mic</mat-icon>
          </button>
          <button mat-icon-button class="header-icon">
            <mat-icon>help_outline</mat-icon>
          </button>
          <button mat-icon-button class="header-icon">
            <mat-icon>power_settings_new</mat-icon>
          </button>
        </ul>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>