p {
    font-family: Lato;
  }
  .my-custom-scrollbar {
    position: relative;
    height: 640px;
    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
    h6{
      text-align: center;
      color: #563d7c;
      font-size: 2rem;
      font-family: inherit;
    font-weight: 500;
    line-height: 1;
    
    }
    img{
      height: 50px;
      width: 50px;
    }