<mat-nav-list>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>account_box</mat-icon>Account
    <mat-icon style="margin-left: 20vh;">expand_more</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/summery">
    <mat-icon>person</mat-icon>Summary
    <mat-icon style="margin-left: 19vh;">expand_more</mat-icon>
  </a>
  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>
    Tickets
  </a>
  <a mat-list-item routerLinkActive="list-item-active">
    <mat-icon>group</mat-icon>
    All Mentions
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>import_contacts</mat-icon>
    Channels
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>group</mat-icon>
    Reports
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Add Content
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Campaing
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Analytics
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Email Marketing
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Ticket Ageing Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    PR Dashboard
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    Social Schedule
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    UCG Management
  </a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
    <mat-icon>contact_phone</mat-icon>
    DIY Dashboard
  </a>
</mat-nav-list>