<div class="Abc">
  <p>
    Locobuzz/Ticket
  </p>
</div>
<div>
  <a>
    Profile Configuration
  </a>
</div>
<div class="profile-text">
  <a>
    Configuration all your channels/profile,search keywards here
  </a>
</div>
<div class="tab">
  <mat-tab-group>  
    <mat-tab label="Scoila Profiles">
    </mat-tab>
    <mat-tab label="Keywors"> Content 2 </mat-tab>
    <mat-tab label="Other Profiles"> Content 3 </mat-tab>
  </mat-tab-group>
</div>
<div>
  <p style="margin-left: 12px;margin-top: 10px;">
    Active Profile/Total Profile:
    <button mat-button color="primary" (click)="addProfile()">
      <mat-icon>control_point</mat-icon>Add Profiles
    </button>
  </p>
</div>